/*
NoMethodError: You have a nil object when you didn't expect it!
You might have expected an instance of Array.
The error occurred while evaluating nil.empty?

Backtrace:
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/tree/root_node.rb:23:in `render'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/warden-1.2.3/lib/warden/manager.rb:35:in `block in call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/warden-1.2.3/lib/warden/manager.rb:34:in `catch'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/warden-1.2.3/lib/warden/manager.rb:34:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/methodoverride.rb:24:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `block in call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/sendfile.rb:106:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/runtime.rb:17:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/lock.rb:13:in `block in call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/lock.rb:13:in `synchronize'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/lock.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-timeout-0.0.4/lib/rack/timeout.rb:16:in `block in call'
/home/ubuntu/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/timeout.rb:66:in `timeout'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-timeout-0.0.4/lib/rack/timeout.rb:16:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/railties-3.0.5/lib/rails/rack/log_tailer.rb:14:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/content_length.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-2.0.0-p195/gems/rack-1.2.8/lib/rack/handler/webrick.rb:52:in `service'
/home/ubuntu/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/webrick/httpserver.rb:138:in `service'
/home/ubuntu/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/webrick/httpserver.rb:94:in `run'
/home/ubuntu/.rvm/rubies/ruby-2.0.0-p195/lib/ruby/2.0.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: You have a nil object when you didn't expect it!\A You might have expected an instance of Array.\A The error occurred while evaluating nil.empty?"; }
