= content_for :content_header do
  %h1 Make It Happen projects you believe in!
  %h2 Finance projects collaboratively and become part of something bigger. Join everyone who wants to see a project go out and make it come true. You're the missing piece in this story.
= render :partial => 'project', :collection => @projects
.clear
